{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title %} Search {% endblock %}
{% block main %}
{{ form(form) }}

{#    <label for="email">#}
{#       Email: <input type="text" name="email" id="email">#}
{#    </label><br>#}
{#    <label for="name">#}
{#        Name: <input type="text" name="name" id="name">#}
{#    </label><br>#}
{#    <label for="plz">#}
{#        PLZ: <input type="text" name="plz" id="plz">#}
{#    </label><br>#}
{#    <label for="ort">#}
{#        Ort: <input type="text" name="ort" id="ort">#}
{#    </label><br>#}
{#    <label for="telefon">#}
{#        Telefon: <input type="text" name="telefon" id="telefon">#}
{#    </label><br>#}

{% endblock %}